# large data downloads (re-downloadable)
data/variant_summary.txt.gz
data/alphamissense/AlphaMissense_aa_substitutions.tsv.gz

# python
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
